nav{
    height: 60px;
    background-color: cornflowerblue;
    color: #ffffff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    padding-left: 50px;
}
#main{
    padding-top: 70px;
}
#form{
    padding-bottom: 30px;
}
#blogs h2{
    font-size: 1.8em;
}
#blogs h3{
    font-size: 1.4em;
    color: rgba(0,0,0,0.60);
}
.error {
    color: red;
    font-weight: bold;
}
.odd{
    background-color: #ffffff;
    padding: 10px;
}
.even{
    background-color: #DDDDDD;
    padding: 10px;
}
.odd .head{
    text-align: left;
}
.even .head{
    text-align: right;
}